<!DOCTYPE html>
<html lang="en">
<head>
    <title>Resource - Read</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
    <div class="container">
        <h1>Resource {{ resource['id'] }}</h1>
        <table>
            <tr>
                <td>Field 1</td>
                <td>{{ resource['field1'] }}</td>
            </tr>
            <tr>
                <td>Field 2</td>
                <td>{{ resource['field2'] }}</td>
            </tr>
            <tr>
                <td>Field 3</td>
                <td>{{ resource['field3'] }}</td>
            </tr>
        </table>
    </div>
</body>
</html>