<!DOCTYPE html>
<html lang="en">
<head>
    <title>Resource - Create</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
    <div class="container">
        <h1>Create resource</h1>
        <form method="POST" action="/clients/create">
            <div class="form-row">
                <label for="Nom">Nom:</label>
                <input type="text" name="field2" required></input>    
            </div>
            <div class="form-row">
                <label for="Cognom1">Cognom1:</label>
                <input type="text" name="Cognom1" required></input>
            </div>
            <div class="form-row">
                <label for="Cognom2">Cognom2:</label>
                <input type="text" name="Cognom2" required></input>
            </div>
            <div class="form-row">
                <label for="telefon">telefon:</label>
                <input type="text" name="telefon" required></input>
            </div>
            <div>
                <button type="submit">Create</button>
                <button type="reset">Reset</button>
            </div>
        </form>
    </div>
</body>
</html>