<!DOCTYPE html>
<html lang="en">
<head>
    <title>Resource - Read</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
    <div class="container">
        {% for data in dades %}
        <h1>Resource {{ data['id'] }}</h1>
        <table>
            <tr>
                <td>id</td>
                <td>{{ data['id'] }}</td>
            </tr>
            <tr>
                <td>nom</td>
                <td>{{ data['nom'] }}</td>
            </tr>
            <tr>
                <td>Cognom1</td>
                <td>{{ data['cognom1'] }}</td>
            </tr>
            <tr>
                <td>Cognom2</td>
                <td>{{ data['cognom2'] }}</td>
            </tr>
            <tr>
                <td>telefon</td>
                <td>{{ data['telefon'] }}</td>
            </tr>
        </table>
        {% endfor %}
    </div>
</body>
</html>