<!DOCTYPE html>
<html lang="en">
<head>
    <title>Resource - Read</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
    {{count}}
    <!-- <div class="container">
        <h1>Resource {{ dades['id'] }}</h1>
        <table>
            <tr>
                <td>id</td>
                <td>{{ dades['id'] }}</td>
            </tr>
            <tr>
                <td>nom</td>
                <td>{{ dades['nom'] }}</td>
            </tr>
            <tr>
                <td>Cognom1</td>
                <td>{{ dades['cognom1'] }}</td>
            </tr>
            <tr>
                <td>Cognom2</td>
                <td>{{ dades['cognom2'] }}</td>
            </tr>
            <tr>
                <td>telefon</td>
                <td>{{ dades['telefon'] }}</td>
            </tr>
        </table>
    </div> -->
</body>
</html>